.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
/*
voice-family: "\"}\"";
voice-family: inherit;
*/
}

.ddcolortabs ul{
font: bold 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}

.ddcolortabs a
	{
		float:				left;
		color: 				white;
		background: 		transparent url(media/TabLeft.png) no-repeat left top;
		min-height:			20px;
		margin:				0 2px 0 0;
		padding: 			0 0 0 8px;
		text-decoration:	none;
		letter-spacing: 	1px;
		position:			relative; 
		top:				1px;
		/* height:expression("25px");  /* for IE */ 
	}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(media/TabRight.png) no-repeat right top;
font-size: 13px; 
min-height:20px;
/* width:expression("70px");   /* for IE */
/* height:expression("25px");  /* for IE */
margin:0 2px 0 0;
padding: 5px 15px 0px 8px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs .selected a 
	{
		float:				left;
		color: 				black;
		background: 		transparent url(media/TabSelLeft.png) no-repeat left top;
	}

.ddcolortabs .selected a span{
float:left;
display:block;
background: transparent url(media/TabSelRight.png) no-repeat right top;
font-size: 13px; 
min-height:20px;
/* height:expression("25px");  /* for IE */
padding: 5px 15px 0px 8px;
}

.ddcolortabs a:hover{
/* background-color: #990000;  */
float:left;
color: black;
background: transparent url(media/TabHoverLeft.png) no-repeat left top;
min-height:20px;
/* height:expression("25px");  /* for IE */
margin:0 2px 0 0;
padding:0 0 0 8px;
text-decoration:none;
letter-spacing: 1px;
position:relative; top:1px;
}

.ddcolortabs a:hover span{
/* background-color: #990000;  */
float:left;
display:block;
background: transparent url(media/TabHoverRight.png) no-repeat right top;
font-size: 13px; 
min-height:20px;
/* height:expression("25px");  /* for IE */
padding: 5px 15px 0px 8px;
}

/* currently selected tab
.ddcolortabs .selected a, #ddcolortabs .selected a span{
background-color: transparent;
}
*/

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 0px;
line-height: 0px;
background: black;
/*  border-top: 1px solid #fff;   -- Uncomment this to add border between bar and tabs  */
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_a{
position:absolute;
top: 0;
border: 1px solid black; /*THEME CHANGE HERE*/
border-top-width: 0px; /*Top border width. Should match height of .ddcolortabsline above*/
border-bottom-width: 0;
font:normal 12px Arial;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}


.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;
border-top: 0 solid #990000;
border-bottom: 1px solid #990000; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background-color: #8a3c3d;
color: white;
}