<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Detailed">
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors>
        <defaultDocument enabled="true">
            <files>
                <add value="index.asp" />
                <add value="web.config" />
                <add value="z2t_backoffice/index.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
        <!--DetailedLocalOnly-->
    </system.webServer>
</configuration>
