<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/ErrorPages/500-100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument enabled="true">
            <files>
                <add value="index.asp" />
                <add value="web.config" />
                <add value="z2t_backoffice/index.asp" />
            </files>
        </defaultDocument>
        <!--DetailedLocalOnly-->
    </system.webServer>
</configuration>
