body
	{
	font-family: 	Verdana, Arial, Helvetica, sans-serif;	
	margin:			2em;
	color:			black;
	font-size: 		10pt;
	text-align: 	left;
	}

.popupHeading
	{
	display:		block;
	font-size: 		16pt;
	font-weight: 	bold;
	text-align: 	center;
	height:			28px;
	border-bottom:	2px solid black;
	margin: 		0 auto;
	}
	
.subHead
        {
	color: blue; 
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	display: block;
	margin-left: 1em;
	}

div.center
       {
	margin:			0 auto;
	text-align:		center;
    }
	
a.buttons 
       {
	display:		inline-block !important; 
	margin:			.1em;
	}

a.bo_Button30
	{
	font-weight: 	bold; 
	font-size: 		9px; 
	font-family: 	Verdana, Arial, Helvetica, sans-serif;
	padding: 		1px 3px; 
	border-top: 	1px solid #E0E0E0;
	border-right: 	1px solid black; 
	border-bottom: 	1px solid black;
	border-left: 	1px solid #E0E0E0; 
	background-color: #DCDCDC; 
	color: 			#1F3A4A;
	display: 		block;
	text-align: 	center; 
	width: 			30px;
	text-decoration: none;
	}

a.bo_Button30:hover 
	{
	border-color:	black white white black; 
	color:			#FBFBFB;
	}

a.bo_Button80
	{
	font-weight:	bold; 
	font-size:		11px; 
	font-family:	Verdana, Arial, Helvetica, sans-serif;	
	padding:		2px 4px; 
	border-top:		1px solid #E0E0E0;
	border-right:	1px solid black; 
	border-bottom:	1px solid black;
	border-left:	1px solid #E0E0E0; 
	background-color: #DCDCDC; 
	color:			#1F3A4A;
	display:		block;
	text-align:		center; 
	width:			80px;
	text-decoration: none;
	}

a.bo_Button80:hover 
	{
	border-color:	black white white black; 
	color:			#FBFBFB;
	}

a.bo_Button100
	{
	font-weight:	bold; 
	font-size:		11px; 
	font-family:	Verdana, Arial, Helvetica, sans-serif;	
	padding:		2px 4px; 
	border-top:		1px solid #E0E0E0;
	border-right:	1px solid black; 
	border-bottom:	1px solid black;
	border-left:	1px solid #E0E0E0; 
	background-color: #DCDCDC; 
	color:			#1F3A4A;
	display:		block;
	text-align:		center; 
	width:			100px;
	text-decoration: none;
	}

a.bo_Button100:hover 
	{
	border-color:	black white white black; 
	color:			#FBFBFB;
	}

.helpDiv
        {
	position: absolute; 
	top: 50px; 
	left: 50px; 
	width: 200px; 
	height: 200px;
	visibility: hidden;
	}
